.container {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #14b8a6;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 20px;
  display: grid;
  align-content: start;
  padding-top: 20px;
  gap: 40px;
}

.sidebar * {
  margin: 0;
}

.logo, .nav, .pref {
  display: grid;
  grid-template-columns: 80px 1fr;
  row-gap: 20px;

}

.svg {
  place-self: center;
}

.header {
  background-color: #f0fdfa;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px 60px;
  font-weight: bold;
}

.header * {
  margin: 0;
  align-items: center;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.2rem;
  justify-content: space-between;
}

.search {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;
}

.profile {
  display: grid;
  grid-template-columns: min-content min-content max-content;
  gap: 30px;
  justify-self: end;
}

.searchbox {
  background-color: #99f6e4;
  border-radius: 50px;
  height: 30px;
  width: 600px;
}

.header-bottom {
  display: grid;
  grid-template-columns: 100px 1fr 360px;
}

img {
  border-radius: 50%;
}

.header-top img {
  width: 50px;
  height: 50px;
}

.header-bottom img {
  width: 80px;
  height: 80px;
}

.header h4 {
  font-size: 1.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 30px;
  justify-items: end;
}

.header button {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #14b8a6;
  border: none;
}

.main-content {
  background-color: #99f6e4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 40px 30px;
  gap: 30px;
}

.main-content h3 {
  margin: 0 0 10px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  box-sizing: border-box;
  height: 220px;
  background-color: #f0fdfa;
  border-radius: 10px;
  border-left: 8px #B81426 solid;
  padding: 40px 28px 40px 20px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.card h4 {
  font-size: 1.1rem;
  margin: 0;
}

.card p {
  color: #666;
}

.card div {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 30px;
  justify-content: end;
}



.projects {
  grid-row: 1 / 3;
}